<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="dispTextmessageAdminIndex" type="view" admin_index="true" />
        <action name="dispTextmessageAdminConfig" type="view" />
        <action name="dispTextmessageAdminLogView" type="view" />

        <action name="procTextmessageAdminInsertConfig" type="controller" ruleset="insert_config"/>
    </actions>
</module>
