@charset "utf-8";

/* title */
h1.au_h1 { border-bottom:4px solid #a0a0a0; padding:10px 0; color:#555; font-size:20px; }
h1.au_h1 span.au_title { border-bottom:4px solid #5d9ade; padding:10px 20px; }
#header { margin-bottom:10px; }

/* container */

div.container dl.container_dl { background:#fff; margin-bottom:10px; line-height:4em; overflow:hidden; }
div.container dl.container_dl dt { width:18%; float:left; padding:0 20px; text-align:right; background:#c9ced2; font-size:20px; font-weight:bold; color:#fff; }
div.container dl.container_dl dd { position:relative; }
div.container dl.container_dl dd select { border:0; width:76%; font:normal 15px 'NanumGothic'; padding:10px; color:#666; } 
div.container dl.container_dl dd input { border:0; width:70%; font:normal 15px 'NanumGothic'; padding:14px; color:#666 !important; } 
div.container dl.container_dl dd a.btn_wrap { color:#fff; font-weight:bold; width:15%; text-align:center; font-size:14px; position:absolute; right:0;} 
div.container dl.container_dl dd a.submit { width:10%; }
span#notice { color:#0179ff; }

/* button_background */
.blue { background:#45a9e7; }
.gray { background:#96a3a4; }
.green { background:#83c897; }
.reget { background:#eb9001; }
.pink { background:#ec6045; }
.dark_blue { background:#3893ca; }
.purple { background:#ab6fc9; }
.midnight_blue { background:#3b5065; }

div#content { background:#fff; padding:15px; margin-top:15px; color:#555; }
div#content a.green_btn { padding:10px; color:#fff; margin-left:10px; font-weight:bold; }

/* footer */
#phone #footer { height:auto; font-size:13px; color:#fff; display:none;}
#phone #footer span { display:inline-block; padding:20px; }

#phone .agreement{border:1px solid #ddd;padding:15px 15px 10px 15px;border-radius:5px;background:#f8f8f8;margin-bottom:15px}
#phone .agreement>.text{max-height:200px;overflow:auto}
#phone .agreement>.confirm{padding:10px 0 0 0;margin:10px 0 0 0;border-top:1px dotted #ccc}
