#full_send_result .gray_bg { background:#f9f9f9; border-bottom:1px solid #ddd; padding:7px 0 10px; }

#full_send_result table.full_send_result_table { border:1px solid #ccc; border-spacing:0; color:#666; font-family:'NanumGothic'; font-size:12px; margin:20px 0;  width:100%; }
#full_send_result table.full_send_result_table th { padding:7px 25px 8px; background:#f6f6f6; }
#full_send_result table.full_send_result_table tr { line-height:3.3em; text-align:center; }
#full_send_result table.full_send_result_table td.jstree-draggable { padding-left:25px; }
#full_send_result table.full_send_result_table td { border-top:1px solid #eee; }

.fail_send_result { color:red; }

