<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
	<menus>
	</menus>
    <actions>
		<action name="dispAuthenticationAdminConfig" type="view" admin_index="true" />
		<action name="dispAuthenticationAdminAuthcodeList" type="view"/>
		<action name="dispAuthenticationCompare" type="view" />
		<action name="dispAuthenticationCompare3" type="view" />

		<action name="procAuthenticationAdminConfig" type="controller" />
		<action name="procAuthenticationModuleInsert" type="controller" />

		<action name="procAuthenticationSendAuthCode" type="controller" />
		<action name="procAuthenticationCompare" type="controller" />
		<action name="procAuthenticationUpdateStatus" type="controller" />
    </actions>
</module>
